# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/8.0/en/server-configuration-defaults.html
# mac os mini 8C16G 配置， 该服务器 DB, 业务服务共用， 配置信息按4C8G的配置来
# mysql 日志按日滚动， 通过三方软件 logrotate 来实现
[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove the leading "# " to disable binary logging
# Binary logging captures changes between backups and is enabled by
# default. It's default setting is log_bin=binlog
# disable_log_bin
#
log_bin=binlog
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
sort_buffer_size = 4M
# read_rnd_buffer_size = 2M
#
# Remove leading # to revert to previous value for default_authentication_plugin,
# this will increase compatibility with older clients. For background, see:
# https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_default_authentication_plugin
# default-authentication-plugin=mysql_native_password

port = 3306
# The default storage engine that will be used when create new tables when
default-storage-engine = INNODB
# 指定字符集与字符排序方式，暂先写死
character_set_server = utf8mb4

datadir = /Users/littej/mysql_data/mysql
#socket = /Users/littej/mysql_data/mysql.sock


#pid-file = /Users/littej/mysql_data/mysqld.pid

# 日志管理
general-log = 0
#general_log_file = /Users/littej/mysql_data/logs/general.log
log-error = /Users/littej/mysql_data/logs/error.log
# 开启慢查询日志
# 记录超过5秒
slow_query_log = 1
long_query_time = 5
slow_query_log_file = /Users/littej/mysql_data/logs/slow-sql.log

###基础优化配置 (my.cnf)
# 设置为东八区（北京时间）
default-time-zone = '+08:00'
# 使用系统时区（默认值，推荐）
log_timestamps = SYSTEM
lower_case_table_names = 1
# This variable is used to limit the effect of data import and export operations, such as
# those performed by the LOAD DATA and SELECT ... INTO OUTFILE statements and the
# LOAD_FILE() function. These operations are permitted only to users who have the FILE privilege.
secure-file-priv = "/Users/littej/mysql_data/uploads"

# 核心内存配置
# 分配给InnoDB缓冲池的内存（约占物理内存50%）
innodb_buffer_pool_size = 6G
# 日志缓冲区大小
innodb_log_buffer_size = 64M

# 查询优化
# 排序缓冲区
innodb_sort_buffer_size = 4M
# Defines the maximum amount of memory that can be occupied by the TempTable
# storage engine before it starts storing data on disk.
temptable_max_ram = 256M
# Defines the maximum size of internal in-memory temporary tables created
# by the MEMORY storage engine and, as of MySQL 8.0.28, the TempTable storage
# engine. If an internal in-memory temporary table exceeds this size, it is
# automatically converted to an on-disk internal temporary table.
tmp_table_size = 256M
# 控制用户创建的 MEMORY 引擎表的最大内存大小，也影响内存临时表的最大尺寸
max_heap_table_size = 256M
innodb_ft_cache_size = 16M
# 加速表打开速度
table_open_cache = 2000

# 连接与线程优化
# 根据并发量调整（默认151）
max_connections = 100
# 缓存线程数减少连接开销
thread_cache_size = 32
# 等待连接的队列大小
back_log = 100

# 持久化与安全
# 保障ACID（需高性能可设为2）
innodb_flush_log_at_trx_commit = 1
# 保障二进制日志安全（高性能可设为0）
sync_binlog = 1
innodb_redo_log_capacity = 4G
max_binlog_size = 256M
# 组提交延迟微秒数（提升并发）
binlog_group_commit_sync_delay = 100
# binlog 保留时间 7天 = 7 * 24 * 3600秒
binlog_expire_logs_seconds = 604800
#读写优化
# 根据CPU核数调整读线程
innodb_read_io_threads = 4
innodb_write_io_threads = 4
# 避免双缓冲提升IO效率
innodb_flush_method = O_DIRECT
# 顺序读缓存
read_buffer_size = 1M
# SSD建议调高（默认200）
innodb_io_capacity = 2000
# 提高并发插入性能
innodb_autoinc_lock_mode = 2

# 锁等待超时时间（秒）
lock_wait_timeout = 300

# 网络与超时
# 非交互连接超时（秒） 3600*3
wait_timeout = 14400
# 交互式连接超时（秒）
interactive_timeout = 3600
# 大字段或批量插入时需增大
max_allowed_packet = 512M
